@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: fit-content;
    background-image: url("./assets/images/grain-texture.jpg"), linear-gradient(13deg, rgba(173, 201, 226, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background-blend-mode: multiply;
    background-repeat: repeat, no-repeat;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.orderbird-navbar__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderbird-navbar__logo-img {
    height: 50px;
}

.header-navigation{
  background-color: transparent;
    border: none;
    box-shadow: none;

}

#dashboard-wrapper{
  background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    width: 90vw;
    max-width: 1280px;
}

.App{
height: fit-content;
}